@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800&display=swap');


* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F7F3EA !important;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #F7F3EA;
}


.banner-introducao {
    margin: 10% 0% 5%;

}

.banner-final {
    margin: 10% 0% 0%;
}

.div-banner {
    background-color: #EAD3B2;
}

.txt-titulos {
    font-weight: 800;
}

.txt-introdutivo {
    font-weight: 300;
}

#textoIntro {
    padding-top: 12%;
}

.titulo{
    font-weight: 800;
    padding-top: 10%;
    margin-left: 10%;
}

.img-banner{
    width: 40%; 
    margin-left: 450px;
}

.txt-conteudo {
    font-weight: 400;

}

.imgBanner {
    width: 200px;
}

.icon::before{
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
    .imgBanner {
        width: 180px;
    }
}

@media only screen and (max-width: 1000px) {
    .imgBanner {
        width: 200px;
    }

}

.div-img-register {
    width: 37%;
    left: -5.2vw;
    border-top-left-radius: 25%;
    max-width: 280px;
    border-top-right-radius: 25%;
    background-color: #D9A273;
}



footer {
    background-color: #262526;
    min-height: 50px;
    padding: 18px;
    align-items: center !important ;
} 

.scrollprin {
    height: calc(100vh - 56px);
    margin-top: 56px;
    overflow-y: auto;
}

#imgDog {
    border-radius: 100px 100px 0px 0px;
}

#imgCat {
    border-radius: 0px 0px 100px 100px;

}
.image-frame {
    width: 70%; /* largura da imagem */
    height: 70%; /* altura da imagem */
    background-image: url("/assets/img/PETS/pluto.jpg"); /* define a imagem de fundo da div */
    background-size: cover; /* dimensiona a imagem de fundo para cobrir toda a div */
    background-position: center; /* alinha a imagem de fundo no centro da div */
    border: 2px solid black; /* adiciona uma borda de 2px à volta da div */
  }

/* ::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #AF7357;
    border-radius: 8px;

}

::-webkit-scrollbar-thumb:hover {
    background: #9b674f;
} */
